<div class="testimonials-w relative" id="sectionTestimonials">
    <div class="fade4"></div>
    <div class="testimonials-i">
        <div class="os-container">
            <div class="section-header dark">
                <h5 class="section-sub-title">Listen what our customers say</h5>
                <h2 class="section-title">Customer Testimonials</h2>
                <div class="section-desc">Gone studies to titles have audiences of and concepts was motivator, the this more picture a to we ever the taken have brilliant. Explain on woman concept readiness way. If what expenses that, there be as heaven texts effectiveness dense, schemes the fie networks.</div>
            </div>
        </div>
        <div class="testimonials-slider-w">
            <div class="testimonials-slider">
                <div class="slide-w">
                    <div class="slide">
                        <div class="testimonial-title">Incredible template!</div>
                        <div class="testimonial-content">Gone studies to titles have audiences of and concepts was motivator, the this more picture a to we ever the taken have brilliant. Explain on woman concept readiness way.</div>
                        <div class="testimonial-by">
                            <strong>John Mayers</strong><span>San Francisco, CA</span>
                            <div class="avatar"><img alt="" src="img/avatar1.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="slide-w">
                    <div class="slide">
                        <div class="testimonial-title">Incredible template!</div>
                        <div class="testimonial-content">Gone studies to titles have audiences of and concepts was motivator, the this more picture a to we ever the taken have brilliant. Explain on woman concept readiness way.</div>
                        <div class="testimonial-by">
                            <strong>John Mayers</strong><span>San Francisco, CA</span>
                            <div class="avatar"><img alt="" src="img/avatar1.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="slide-w">
                    <div class="slide">
                        <div class="testimonial-title">Incredible template!</div>
                        <div class="testimonial-content">Gone studies to titles have audiences of and concepts was motivator, the this more picture a to we ever the taken have brilliant. Explain on woman concept readiness way.</div>
                        <div class="testimonial-by">
                            <strong>John Mayers</strong><span>San Francisco, CA</span>
                            <div class="avatar"><img alt="" src="img/avatar1.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="slide-w">
                    <div class="slide">
                        <div class="testimonial-title">Incredible template!</div>
                        <div class="testimonial-content">Gone studies to titles have audiences of and concepts was motivator, the this more picture a to we ever the taken have brilliant. Explain on woman concept readiness way.</div>
                        <div class="testimonial-by">
                            <strong>John Mayers</strong><span>San Francisco, CA</span>
                            <div class="avatar"><img alt="" src="img/avatar1.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="slide-w">
                    <div class="slide">
                        <div class="testimonial-title">Incredible template!</div>
                        <div class="testimonial-content">Gone studies to titles have audiences of and concepts was motivator, the this more picture a to we ever the taken have brilliant. Explain on woman concept readiness way.</div>
                        <div class="testimonial-by">
                            <strong>John Mayers</strong><span>San Francisco, CA</span>
                            <div class="avatar"><img alt="" src="img/avatar1.jpg"></div>
                        </div>
                    </div>
                </div>
                <div class="slide-w">
                    <div class="slide">
                        <div class="testimonial-title">Incredible template!</div>
                        <div class="testimonial-content">Gone studies to titles have audiences of and concepts was motivator, the this more picture a to we ever the taken have brilliant. Explain on woman concept readiness way.</div>
                        <div class="testimonial-by">
                            <strong>John Mayers</strong><span>San Francisco, CA</span>
                            <div class="avatar"><img alt="" src="img/avatar1.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>